*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 2px solid red;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100%;
}

header{
    position: fixed;
    width: 100%;
    z-index: 5;

}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
    padding: 1%;

}

.logo2{
    width: 150px;
}


ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    align-items: center;
}

.nav-item{
    background-color: rgba(255, 255, 255, 0.605);
    border-radius: 15px;
    height: 25px;
    display: flex;
    align-items: center; 
}

a{
    text-decoration: none;
    color: black;
    
}

#assine{
    background-color: lime;
}

body{
    background-color: rgb(129, 129, 129);
    color: white;
}